.jumbotron {
    color: white;
    background-image: url("../img/hotel.png");
    background-size: cover;
    margin-top: 55px;
}

footer {
    background-color: midnightblue;
    color: white;
    padding: 10px 10px 0 10px;
    margin-bottom: 0px;
    margin-top: 25px;
}

footer a {
    color: white;
}

.card-hotel {
    flex: 1 350px;
    margin: 30px 10px 30px 10px;
}

.btn-reserva {
    width: 100%;
}

.btn-reserva:hover {
    color: #17a2b8;
    background-color: white;
}

.oi-star {
    color: gold
}

/* Estilos de nosotros */

.jbt-nosotros {
    background-image: url("../img/portada.jpg");
    background-size: cover;
    margin-top: 55px;
}

.ubicacion-logo {
    width: 30px;
    height: 30px;
    color: #ca1111fd;
}

.ubicacion {
    flex: 1 350px;
    margin-left: 10px;
    margin-right: 10px;
}

/* Estilos de contacto */

.jbt-contacto {
    background-image: url("../img/personas-reposeras.jpg");
    background-size: cover;
    margin-top: 55px;
}

.jbt-contacto h1 {
    background-color: rgba(0, 0, 0, 0.5);
    display: inline-block;
    padding: 0 3px 0 3px;
}

/* Estilos de Precios */

.jbt-precios {
    background-image: url("../img/habitacion.jpg");
    background-size: cover;
    margin-top: 55px;
}

.tab-content {
    padding-top: 15px;
}