.jumbotron {
  color: white;
  background-image: url("../img/hotel.png");
  background-size: cover;
  margin-top: 55px;
  margin-bottom: 2rem; }

footer {
  background-color: midnightblue;
  color: white;
  padding-top: 10px;
  padding-bottom: 0px;
  padding-left: 10px;
  padding-right: 10px;
  margin-top: 25px;
  margin-bottom: 0px; }

footer a {
  color: white; }

.card-hotel {
  flex: 1 350px;
  margin-top: 30px;
  margin-bottom: 30px;
  margin-left: 10px;
  margin-right: 10px; }

.btn-reserva {
  width: 100%; }

.btn-reserva:hover {
  color: #17a2b8;
  background-color: white; }

.oi-star {
  color: #ffd700; }

/* Estilos de nosotros */
.jbt-nosotros {
  background-image: url("../img/portada.jpg");
  background-size: cover; }

.ubicacion-logo {
  width: 30px;
  height: 30px;
  color: #ca1111fd; }

.ubicacion {
  flex: 1 350px;
  margin-left: 10px;
  margin-right: 10px; }

/* Estilos de contacto */
.jbt-contacto {
  background-image: url("../img/personas-reposeras.jpg");
  background-size: cover; }

.jbt-contacto h1 {
  background-color: rgba(0, 0, 0, 0.5);
  display: inline-block;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 3px;
  padding-right: 3px; }

/* Estilos de Precios */
.jbt-precios {
  background-image: url("../img/habitacion.jpg");
  background-size: cover; }

.tab-content {
  padding-top: 15px; }
