@yellow: #ffd700;

.margenes(@top: 0px, @bottom: 0px) {
    margin-top: @top;
    margin-bottom: @bottom;
}


.jumbotron {
    color: white;
    background-image: url("../img/hotel.png");
    background-size: cover;
    .margenes(55px, 2rem);
}
  
footer {
    background-color: midnightblue;
    color: white;
    padding: 10px 10px 0 10px;
    .margenes(25px, 0px);
}
  
footer a {
    color: white; 
}
  
.card-hotel {
    flex: 1 350px;
    margin: 30px 10px 30px 10px; 
}
  
.btn-reserva {
    width: 100%; 
}
  
.btn-reserva:hover {
    color: #17a2b8;
    background-color: white; 
}
  
.oi-star {
    color: @yellow; 
}
  
  /* Estilos de nosotros */
.jbt-nosotros {
    background-image: url("../img/portada.jpg");
    background-size: cover; 
}
  
.ubicacion-logo {
    width: 30px;
    height: 30px;
    color: #ca1111fd; 
}
  
.ubicacion {
    flex: 1 350px;
    margin-left: 10px;
    margin-right: 10px; 
}
  
  /* Estilos de contacto */
.jbt-contacto {
    background-image: url("../img/personas-reposeras.jpg");
    background-size: cover; 
}
  
.jbt-contacto h1 {
    background-color: rgba(0, 0, 0, 0.5);
    display: inline-block;
    padding: 0 3px 0 3px; 
}
  
  /* Estilos de Precios */
.jbt-precios {
    background-image: url("../img/habitacion.jpg");
    background-size: cover; 
}
  
.tab-content {
    padding-top: 15px; 
}
  