$yellow: #ffd700;
$red: #ca1111fd;
$green: #15ff00;

@mixin margenesTB($top, $bottom) {
    margin-top: $top;
    margin-bottom: $bottom;
}

@mixin margenesLR($left, $right) {
    margin-left: $left;
    margin-right: $right;
}

@mixin paddingTB($top, $bottom) {
    padding-top: $top;
    padding-bottom: $bottom;
}

@mixin paddingLR($left, $right) {
    padding-left: $left;
    padding-right: $right;
}


.jumbotron {
    color: white;
    background-image: url("../img/hotel.png");
    background-size: cover;
    @include margenesTB(55px, 2rem);
}

footer {
    background-color: midnightblue;
    color: white;
    @include paddingTB(10px, 0px);
    @include paddingLR(10px, 10px);
    @include margenesTB(25px, 0px);
}

footer a {
    color: white;
}

.card-hotel {
    flex: 1 350px;
    @include margenesTB(30px, 30px);
    @include margenesLR(10px, 10px);
}

.btn-reserva {
    width: 100%;
}

.btn-reserva:hover {
    color: #17a2b8;
    background-color: white;
}

.oi-star {
    color: $yellow
}

/* Estilos de nosotros */

.jbt-nosotros {
    background-image: url("../img/portada.jpg");
    background-size: cover;
}

.ubicacion-logo {
    width: 30px;
    height: 30px;
    color: $red;
}

.ubicacion {
    flex: 1 350px;
    @include margenesLR(10px, 10px);
}

/* Estilos de contacto */

.jbt-contacto {
    background-image: url("../img/personas-reposeras.jpg");
    background-size: cover;
}

.jbt-contacto h1 {
    background-color: rgba(0, 0, 0, 0.5);
    display: inline-block;
    @include paddingTB(0px, 0px);
    @include paddingLR(3px, 3px);
}

/* Estilos de Precios */

.jbt-precios {
    background-image: url("../img/habitacion.jpg");
    background-size: cover;
}

.tab-content {
    padding-top: 15px;
}